// colors of the page
:root{
    --aircall-green: rgba(79, 194, 49, 1);
    --background-color: #f9f9f9;
    --typo-color: black;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 10px 0 10px;  
}

// button language
.dropbtn {
    padding: 16px;
    font-size: 14px;
    border-color:var(--aircall-green);
    cursor: pointer;
    font-weight: 500;
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
}

.button{
    border-style: solid;
    border-width: 1px;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--aircall-green);
}

// Inside the button
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;  
}
 
// Hover of the button content 
.dropdown-content a:hover {
      background-color: var(--background-color)
}
    
.show {
      display:block;
}
  