:root{
  --aircall-green: rgba(79, 194, 49, 1);
  --background-color: #f9f9f9;
  --typo-color: black;
  --first-video: #E9FDFF;
  --second-video: #F7FDFF;
}

body {
  background-color:var(--background-color);
  color: var(--typo-color);
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 5vh 1rem;
}

h1{
  font-size: 40px;
  font-weight: 300;
  text-align: center;  
}

h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 20px;
  text-align:center;
}

h3{
  font-size: 50px;
  font-weight: 60;
  line-height: 43px;
  text-align: center;
  margin-bottom: 50px;
}

p{
  margin-top:20px;
  font-weight: 400;
  line-height: 28px;
  font-size:20px;
  text-align:center;
}

// Call To Action Try Aircall
.btn {
  background-color: var(--aircall-green);
  font-weight: 700;
  margin:auto;
  color: white;
  padding: 20px;
  font-size: 16px;
  margin-bottom:100px;
  border: none;
  cursor: pointer;
  border-radius:3px;
  display:flex;
  justify-content: center;
  
}

.btn:hover, .btn:focus {
  background-color: var(--aircall-green);
}


// First section of the page
.header{
  // background-color:#F3FDFF;
  background-image: url("/images/shapes/backgroundheader.svg");
  background-position:top;
  background-repeat: no-repeat;
}

// All the wrap of the page
.wrap{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top:20px;
  margin-bottom:50px;
  text-align: center;
}

// When the page is divided in two column
.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}



// table  
.td{
  display: block;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
  margin:10px;
  width:350px;
  flex-shrink: 1;
  border-radius: 8px !important;
  border-color:grey;
  box-shadow: rgba(13, 19, 111, 0.15) 0px 12px 20px 0px !important;
}



// Image of the table
.picto{
  display:flex;
  justify-content: center;
}

// Title of the table
.table_head{
  display:flex;
  justify-content: center;
  font-size:1.5em;
  margin:6px;
  font-weight: 500;
  line-height: 50px;
}

// Description of the table 
.table_content{
  margin-top:20px;
  font-weight: 400;
  line-height: 28px;
  font-size:18px;
}

// liste des brands
.items {
	display: flex;
  flex-wrap: wrap;
}

.items .item {
  box-sizing: border-box;
  padding: 20px;
  margin:auto;
  width:auto;
}
// videos 

// first video
.wrapsg{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top:20px;
  background-color:var(--first-video);
  height:auto;
}

//second video
.wrapam{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top:20px;
  background-color:var(--second-video);
  height:auto;
}

// column of the video 
.left{
  align-items: left;
  margin:auto;
  width: 400px;
}

.right{
  align-items: right;
  margin:auto;
  width: 400px;
}
