// Colors used
:root{
  --aircall-green: rgba(79, 194, 49, 1);
  --background-color: #f9f9f9;
  --typo-color: black;
  --first-video: #E9FDFF;
  --second-video: #F7FDFF;
}

body {
  background-color:var(--background-color);
  color: var(--typo-color);
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 5vh 1rem;
}

h1{
  font-size: 40px;
  font-weight: 300;
  text-align: center;  
}

h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 20px;
  text-align: center;
}

h3{
  font-size: 50px;
  font-weight: 60;
  line-height: 43px;
  margin-bottom: 50px;
  text-align: center; 
}

p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  text-align: center;
}

// First section of the page
.header{
  background-image: url("/images/shapes/backgroundheader.svg");
  background-position: top;
  background-repeat: no-repeat;
}

// Separation of the page
.left{
  align-items: left;
  margin: auto;
  width: 400px;
}

.right{
  align-items: right;
  margin: auto;
  width: 400px;
}

// Call To Action Try Aircall
.trial-btn {
  background-color: var(--aircall-green);
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 3px;  
}

.trial-btn:hover, .trial-btn:focus {
  background-color: var(--aircall-green);
}

// All the wrap of the page
.wrap{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 20px 0 50px 0;
  text-align: center;
}

// Service explanation
.explanation{
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content: center;
  width: 350px;
  padding: 20px;
  margin: 10px;
  flex-shrink: 1;
  border-radius: 8px !important;
  border-color:grey;
  box-shadow: rgba(13, 19, 111, 0.15) 0px 12px 20px 0px !important;
}

// Main title Explanation
.explanation-title{
  font-size: 1.5em;
  margin: 6px;
  font-weight: 500;
  line-height: 50px;
}

// Description of the service
.explanation-content{
  font-weight: 400;
  line-height: 28px;
  font-size: 18px;
}

// List of the brands
.items {
	display: flex;
  flex-wrap: wrap;
}

.items .item {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  width: auto;
}

// First video
.first-video{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 20px;
  background-color: var(--first-video);
  height: auto;
}

// Second video
.second-video{
  display: flex;
	flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 20px;
  background-color: var(--second-video);
  height: auto;
}


