<%# Header : logo and language button %>

<div class=container>
    <div class="header_logo">
      <%= svg 'logos/aircall-logotype' %>
    </div>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"><%= t('header.languages') %></button>
        <div id="myDropdown" class="dropdown-content">
          <% link_to '/' do %>
            <%= svg 'logos/uk' %>
          <% end %>  
          <% link_to '/fr' do %>
            <%= svg 'logos/france' %>
          <% end %>
        </div>
    </div>
</div>



